body {
    background-color: $color-black;
    color: $color-light-gray;
    font-family: $font-family-body;
    font-size: $font-size-normal;
    letter-spacing: $letter-spacing-normal;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}