.site-navigation-container {
    @include align-items(flex-start);
    @include display-flex;
    min-width: 275px;
    margin-right: 75px;
}

.site-navigation-header-container {
    transition: .2s ease-in-out;
}

.site-navigation {
    @include display-flex;
    @include flex-direction(column);
    color: $color-light-gray;
    height: 100%;
    width: 100%;
    nav {
        flex-grow: 1;
    }
}

.site-navigation-header {
    @include align-items(center);
    @include display-flex;
    @include flex-direction(column);
    @include justify-content(center);
    background-color: $color-black;
    border-radius: $border-radius-default;
    letter-spacing: $letter-spacing-normal;
    padding: 20px 0;
    margin-bottom: 30px;
    &:hover {
        cursor: pointer;
        .h1-subheading {
            color: rgba($color-gray, .55);
            letter-spacing: $letter-spacing-hover;
            transition: .45s ease-out;
        }
    }
}

.site-navigation-menu {
    @include display-flex;
    @include flex-direction(column);
    color: $color-light-gray;
    font-family: $font-family-body;
    font-size: $font-size-small;
    letter-spacing: $letter-spacing-large;
    text-transform: uppercase;
    li {
        @include display-flex;
        @include justify-content(center);
        background-color: $color-black;
        border-radius: $border-radius-default;
        padding: 10px;
        transition: .45s ease-in;
        &:hover {
            color: rgba($color-gray, .55);
            cursor: pointer;
            letter-spacing: $letter-spacing-hover;
            transition: .45s ease-out;
        }
    }
    li + li {
        margin-top: 5px;
    }
}

.site-navigation-social {
    @include display-flex;
    @include flex-direction(row);
    margin-top: 30px;
    a {
        margin-right: 10px;
    }
}

.site-navigation-social-button-container {
    margin: 0;
}

.site-navigation-hamburger {
    display: none;
}