.gallery {
    width: 100%;
}

.site-gallery-container {
    overflow: hidden;
}

.site-gallery {
    background-color: $color-black;
    border-radius: $border-radius-default;
    opacity: 1;
}

.site-gallery-header {
    @include display-flex;
    @include flex-wrap(no-wrap);
    height: 60px;
}

.site-gallery-header-heading {
    @include display-flex;
    @include align-items(center);
    @include justify-content(flex-start);
    flex-grow: 1;
    padding-left: 25px;
}

.site-gallery-content-container {
    height: calc(100vh - 260px);
    padding: 0 24px 25px 25px;
}

.site-gallery-content-scroll-area {
    height: 100%;
    overflow: auto;
}

// Needs unobscured access to .gallery-item-container divs.
.site-gallery-content {
    @include display-flex;
    @include flex-direction(row);
    @include flex-wrap(wrap);
    height: 100%;
    width: 100%;
    margin-right: 25px;
    padding-right: 10px;
    margin: -10px;
}

.site-gallery-item-container {
    @include display-flex;
    @include flex-direction(column);
    @include flex(1 1 auto);
    @include flex-wrap(wrap);
    height: 200px;
    overflow: hidden;
    margin: 10px;
    min-width: 33.3%;
    max-width: 100%;
}

.site-gallery-item {
    background-position: center;
    background-size: cover;
    border-radius: 1.5px;
    height: 100%;
    transition: .5s ease-in;
    width: 100%;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: .5s ease-out;
    }
}


