@import url(https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700,900|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i);
/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre {
    white-space: pre-wrap !important; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.flex-wrapper-col {
  display: flex;
  flex-flow: column wrap;
  height: 100vh; }

.flex-wrapper-row {
  display: flex;
  flex-flow: row wrap;
  height: 100%; }

/*

    Source for mixins below: 

        https://gist.github.com/richardtorres314

*/
/*

	** REMINDER TO SELF **

    Not supported by IE11:

        repeat()
        grid-gap

*/
.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  border: none !important; }

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #232323 !important;
  color: #f1f1f1 !important; }

.noty_body {
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 12px !important;
  letter-spacing: 1.5px !important; }

.btn.btn-success,
.btn.btn-error {
  background-color: transparent !important;
  border: 1px solid rgba(202, 202, 202, 0.25) !important;
  color: rgba(202, 202, 202, 0.55) !important;
  font-family: "Source Sans Pro", sans-serif !important;
  font-size: 12px !important;
  letter-spacing: 1.5px !important;
  padding: 5px !important;
  width: 50px;
  transition: 0.4s ease-in !important; }
  .btn.btn-success:hover,
  .btn.btn-error:hover {
    background-color: #0f0f0f !important;
    cursor: pointer;
    color: #f1f1f1 !important;
    transition: 0.4s ease-out !important; }

.btn.btn-error {
  margin-left: 12px !important; }

.noty_theme__mint.noty_type__success,
.noty_theme__mint.noty_type__error {
  color: #0f0f0f !important; }

.simplebar-scrollbar:before {
  background: #fff; }

.simplebar-track.horizontal {
  display: none; }

*,
*:before,
*:after {
  box-sizing: inherit; }

a:active,
a:hover,
a:link,
a:visited {
  color: inherit;
  text-decoration: none; }

body {
  background-color: #0f0f0f;
  color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

button {
  border: none;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1 {
  color: #f1f1f1;
  font-family: "Cinzel Decorative", serif;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 2.5px; }

.h1-subheading {
  color: #f1f1f1;
  font-family: "Cinzel Decorative", serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.5px;
  transition: .45s ease-out; }

h2 {
  color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2.5px; }

html {
  box-sizing: border-box;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100%; }

input {
  background: transparent;
  border: none;
  border-bottom: 1px solid transparent;
  outline: none; }

.unstyled::-webkit-inner-spin-button,
.unstyled::-webkit-calendar-picker-indicator,
.unstyled::-webkit-clear-button {
  display: none;
  -webkit-appearance: none; }

p {
  margin: 0;
  padding: 0; }

.styled-select {
  -moz-appearance: none;
  background-color: transparent;
  outline: none;
  border: none; }
  .styled-select option {
    color: #0f0f0f; }

select::-ms-expand {
  display: none; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*

    App

*/
.divider {
  background-color: #232323;
  height: 1px;
  margin: 40px 0;
  width: 100%; }

.error {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #0f0f0f;
  color: #cacaca;
  height: 100vh; }

.error-number {
  color: #f1f1f1;
  font-family: "Cinzel Decorative", serif;
  font-size: 60px;
  letter-spacing: 5px; }

.error-message {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2.5px;
  margin-top: 10px; }

.hidden {
  display: hidden; }

.no-margin {
  margin: 0 !important; }

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease; }

.fade-enter,
.fade-leave-active {
  opacity: 0; }

.button {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #0f0f0f;
  border-radius: 0;
  font-size: 18px;
  font-weight: 300;
  height: 60px;
  width: 60px; }
  .button i {
    color: rgba(202, 202, 202, 0.55);
    transform: scale(1);
    transition: transform 0.4s ease-out; }
  .button:hover {
    cursor: pointer;
    transition: 0.4s ease-in-out; }
    .button:hover i {
      color: #fff;
      transform: scale(1.5);
      transition: transform 0.4s ease-in;
      transition: 0.4s ease-out; }

.button.attribution {
  color: #f1f1f1;
  font-size: 12px;
  width: 100%;
  text-align: center; }
  .button.attribution:hover {
    cursor: default; }

.attribution-name {
  margin-bottom: 2.5px; }

.attribution-details {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  color: rgba(202, 202, 202, 0.55); }

.app {
  height: 100vh;
  width: 100vw; }

.site {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  border: 25px solid #0f0f0f;
  max-height: 100%;
  min-height: 100%;
  padding: 75px;
  z-index: 0;
  flex-grow: 1;
  width: 100%; }

.site-background {
  background-image: url("/static_content/images/main-bg.jpg");
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -9999;
  transition: .2s background ease-in-out; }

.gallery {
  width: 100%; }

.site-gallery-container {
  overflow: hidden; }

.site-gallery {
  background-color: #0f0f0f;
  border-radius: 0;
  opacity: 1; }

.site-gallery-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: no-wrap;
  -moz-flex-wrap: no-wrap;
  -ms-flex-wrap: no-wrap;
  flex-wrap: no-wrap;
  height: 60px; }

.site-gallery-header-heading {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  flex-grow: 1;
  padding-left: 25px; }

.site-gallery-content-container {
  height: calc(100vh - 260px);
  padding: 0 24px 25px 25px; }

.site-gallery-content-scroll-area {
  height: 100%;
  overflow: auto; }

.site-gallery-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-right: 25px;
  padding-right: 10px;
  margin: -10px; }

.site-gallery-item-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: auto;
  -moz-box-flex: auto;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  width: 200px; }

.site-gallery-item {
  background-position: center;
  background-size: cover;
  border-radius: 1.5px;
  height: 100%;
  transition: .5s ease-in;
  width: 100%; }
  .site-gallery-item:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: .5s ease-out; }

.site-navigation-container {
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-width: 275px;
  margin-right: 75px; }

.site-navigation-header-container {
  transition: .2s ease-in-out; }

.site-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #f1f1f1;
  height: 100%;
  width: 100%; }
  .site-navigation nav {
    flex-grow: 1; }

.site-navigation-header {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #0f0f0f;
  border-radius: 0;
  letter-spacing: 1.5px;
  padding: 20px 0;
  margin-bottom: 30px; }
  .site-navigation-header:hover {
    cursor: pointer; }
    .site-navigation-header:hover .h1-subheading {
      color: rgba(202, 202, 202, 0.55);
      letter-spacing: 4px;
      transition: .45s ease-out; }

.site-navigation-menu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #f1f1f1;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-transform: uppercase; }
  .site-navigation-menu li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    background-color: #0f0f0f;
    border-radius: 0;
    padding: 10px;
    transition: .45s ease-in; }
    .site-navigation-menu li:hover {
      color: rgba(202, 202, 202, 0.55);
      cursor: pointer;
      letter-spacing: 4px;
      transition: .45s ease-out; }
  .site-navigation-menu li + li {
    margin-top: 5px; }

.site-navigation-social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px; }
  .site-navigation-social a {
    margin-right: 10px; }

.site-navigation-social-button-container {
  margin: 0; }

.site-navigation-hamburger {
  display: none; }

.admin-content-container {
  height: 100vh;
  width: 100%; }

.scroll-area {
  height: 100%;
  overflow: auto; }

.admin {
  padding: 0 100px 100px 100px;
  height: 100%; }

.admin-sign-out-container {
  padding: 35px; }

.admin-sign-out {
  color: #cacaca;
  font-size: 12px;
  letter-spacing: 2.5px;
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  width: 150px;
  transition: .45s ease-in; }
  .admin-sign-out:hover {
    color: rgba(202, 202, 202, 0.55);
    cursor: pointer;
    letter-spacing: 4px;
    transition: .45s ease-out; }

.admin-header-container {
  margin: 0 auto;
  width: 250px; }

.admin-footer {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  font-size: 12px;
  color: rgba(202, 202, 202, 0.55);
  letter-spacing: 2.5px;
  text-transform: uppercase;
  transition: .45s ease-in; }
  .admin-footer i {
    margin-right: 10px; }

.admin-add {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #232323;
  border: 1px solid transparent;
  border-radius: 0;
  font-size: 12px;
  font-weight: 300;
  height: 60px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  transition: .45s ease-in; }
  .admin-add:hover {
    background-color: transparent;
    border: 1px solid #232323;
    color: rgba(202, 202, 202, 0.55);
    cursor: pointer;
    letter-spacing: 4px;
    transition: .45s ease-out; }

.admin-table {
  margin-top: 40px; }
  .admin-table li {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: 0;
    color: #cacaca;
    position: relative;
    height: 60px;
    transition: .45s ease-in; }
  .admin-table .backdrop {
    background-position: center;
    background-size: cover;
    opacity: 0.15;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; }
  .admin-table li + li {
    margin-top: 20px; }
  .admin-table div + div {
    margin-left: 40px; }
  .admin-table li:hover .backdrop {
    opacity: 0.1;
    transition: .45s ease-out; }

.table-thumb {
  background-position: center;
  background-size: cover;
  border-radius: 0;
  height: 60px;
  min-width: 60px; }

.table-title {
  flex: 1;
  transition: .45s ease-in; }

.table-action {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: #232323;
  border-radius: 0;
  height: 60px;
  max-width: 60px; }

.admin-button,
.admin-browse-button {
  background-color: #232323; }

.admin-button {
  width: 60px; }

.admin-edit-thumbnail {
  height: 250px; }

input[type="file"] {
  display: none; }

.admin-edit-thumbnail-container {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  border-radius: 0;
  position: relative;
  text-align: center;
  width: 100%; }
  .admin-edit-thumbnail-container:hover .backdrop {
    opacity: 0.1;
    transition: .45s ease-out; }

.backdrop {
  background-position: center !important;
  background-size: cover !important;
  border-radius: 0;
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0.15;
  position: absolute;
  right: 0;
  top: 0;
  transition: .45s ease-in;
  z-index: -1; }

.admin-edit-thumbnail {
  cursor: pointer; }

.admin-input-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -10px;
  margin-top: -20px; }

.admin-input-container {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin: 10px 0;
  padding: 10px; }
  .admin-input-container:first-child, .admin-input-container:last-child {
    width: 100%; }
  .admin-input-container:not(:first-child):not(:last-child) {
    flex: 1; }

.admin-input-label {
  font-size: 12px;
  letter-spacing: 2.5px;
  margin-right: 20px;
  text-transform: uppercase; }

.admin-input {
  border-bottom: 1px solid #232323;
  color: rgba(202, 202, 202, 0.55);
  flex: 1;
  letter-spacing: 1.5px;
  padding: 10px 0;
  transition: .45s ease-in;
  margin-bottom: -2px; }
  .admin-input:focus {
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: .45s ease-out; }
    .admin-input:focus:focus:hover {
      border-bottom: 1px solid #fff;
      transition: .45s ease-out; }
  .admin-input:hover {
    border-bottom: 1px solid rgba(202, 202, 202, 0.55);
    transition: .45s ease-out; }

.admin-button-list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 20px);
  margin-left: -10px;
  margin-top: 20px; }
  .admin-button-list li {
    flex: 1;
    padding: 10px;
    width: 100%; }

.admin-button {
  border: 1px solid #232323;
  color: #f1f1f1;
  font-size: 12px;
  height: 60px;
  letter-spacing: 2.5px;
  padding: 0 40px;
  text-transform: uppercase;
  transition: .45s ease-in;
  width: 100%; }
  .admin-button:hover {
    background-color: transparent;
    color: rgba(202, 202, 202, 0.55);
    cursor: pointer;
    letter-spacing: 4px;
    transition: .45s ease-out; }
  .admin-button:disabled {
    background-color: #232323 !important;
    color: #f1f1f1 !important;
    cursor: default !important;
    letter-spacing: 2.5px;
    opacity: 0.33;
    transition: .45s ease-out; }

div.admin-button {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

.lightbox-container {
  background-position: center;
  background-size: cover;
  border: 25px solid #0f0f0f;
  position: absolute;
  height: 100vh;
  left: 0;
  top: 0;
  width: 100vw;
  z-index: 9999; }

.lightbox {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  background-color: rgba(15, 15, 15, 0.75);
  height: 100%;
  width: 100%; }

.lightbox-image {
  max-height: 100%;
  max-width: 100%; }

.lightbox-button {
  margin: 25px;
  position: absolute;
  right: 0; }

.lightbox-details {
  background-color: #0f0f0f;
  position: absolute;
  bottom: 0;
  margin: 25px;
  padding: 25px; }

.lightbox-details-title {
  font-size: 16px;
  margin-bottom: 5px; }

.lightbox-details-locdate {
  color: rgba(202, 202, 202, 0.75);
  font-size: 12px;
  margin-bottom: 10px; }

.lightbox-details-note {
  color: rgba(202, 202, 202, 0.55);
  font-size: 12px;
  font-style: oblique; }

@media (max-width: 1024px), (max-height: 720px) {
  .site-gallery-item-container {
    width: 50%; }
  .site {
    border: 0;
    padding: 0;
    height: 100%;
    width: 100%; }
  .site-navigation-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    width: 100%;
    height: 80px;
    margin: 0; }
  .site-navigation {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background-color: #0f0f0f;
    width: 100%;
    padding: 10px 0; }
    .site-navigation footer {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end;
      text-align: right; }
  .site-navigation-header-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    background-color: #0f0f0f;
    width: 100%; }
  .site-navigation-header {
    height: 60px;
    padding: 0 20px;
    margin: 0; }
  .site-navigation-menu {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-box-flex: auto;
    -moz-box-flex: auto;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: 0; }
    .site-navigation-menu li {
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-flex: auto;
      -moz-box-flex: auto;
      -webkit-flex: auto;
      -ms-flex: auto;
      flex: auto;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      margin: 10px;
      padding: 20px 10px; }
      .site-navigation-menu li:hover {
        letter-spacing: inherit; }
    .site-navigation-menu li + li {
      margin-top: 10px; }
  .site-navigation-social {
    position: absolute;
    top: 0;
    margin: 10px 0; }
  .site-navigation-social-button-container {
    margin: 0 20px 0 0; }
  .gallery {
    bottom: 0;
    height: 100vh;
    left: 0;
    margin-top: 60px;
    position: absolute;
    right: 0;
    top: 0; }
  .site-gallery-container {
    height: 100% !important; }
  .site-gallery {
    height: 100%;
    padding-top: 20px; }
  .site-gallery-content-container {
    height: 100%; }
  .site-gallery-content-scroll-area {
    height: calc(100% - 125px); }
  .site-navigation-hamburger {
    display: inline-block; }
  .lightbox-container {
    margin-top: -60px; } }

@media (max-width: 850px) {
  .admin {
    padding: 0 40px 40px 40px; } }

@media (max-width: 1024px) {
  .site-gallery-item-container {
    width: 50%; } }

@media (max-width: 823px) {
  .lightbox-details {
    display: none; } }

@media (max-width: 748px) {
  .site-background {
    background-position: right;
    transition: .2s background ease-in-out; } }

@media (max-width: 610px) {
  .site-navigation-header-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    background-color: #0f0f0f;
    width: 100%;
    padding-left: 10px;
    transition: .2s ease-in-out; } }

@media (max-width: 414px) {
  .site-gallery-item-container {
    width: 50%; }
  .admin {
    padding: 0 20px 40px 20px; }
  .button.attribution {
    display: none; }
  .site-navigation-header-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    background-color: #0f0f0f;
    width: 100%;
    padding-left: 0px;
    transition: .2s ease-in-out; } }

@media (max-width: 400px) {
  .site-navigation-social {
    padding-right: 10px; }
    .site-navigation-social .button {
      width: 30px; } }

@media (max-width: 320px) {
  .site-navigation-header {
    padding-right: 0; }
  .site-navigation-header-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start;
    background-color: #0f0f0f;
    width: 100%;
    padding-left: 10px;
    transition: .2s ease-in-out; } }

.noty_layout_mixin, #noty_layout__top, #noty_layout__topLeft, #noty_layout__topCenter, #noty_layout__topRight, #noty_layout__bottom, #noty_layout__bottomLeft, #noty_layout__bottomCenter, #noty_layout__bottomRight, #noty_layout__center, #noty_layout__centerLeft, #noty_layout__centerRight {
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999999;
  -webkit-transform: translateZ(0) scale(1, 1);
  transform: translateZ(0) scale(1, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  filter: blur(0);
  -webkit-filter: blur(0);
  max-width: 90%; }

#noty_layout__top {
  top: 0;
  left: 5%;
  width: 90%; }

#noty_layout__topLeft {
  top: 20px;
  left: 20px;
  width: 325px; }

#noty_layout__topCenter {
  top: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__topRight {
  top: 20px;
  right: 20px;
  width: 325px; }

#noty_layout__bottom {
  bottom: 0;
  left: 5%;
  width: 90%; }

#noty_layout__bottomLeft {
  bottom: 20px;
  left: 20px;
  width: 325px; }

#noty_layout__bottomCenter {
  bottom: 5%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__bottomRight {
  bottom: 20px;
  right: 20px;
  width: 325px; }

#noty_layout__center {
  top: 50%;
  left: 50%;
  width: 325px;
  -webkit-transform: translate(-webkit-calc(-50% - .5px), -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(calc(-50% - .5px), calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__centerLeft {
  top: 50%;
  left: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }

#noty_layout__centerRight {
  top: 50%;
  right: 20px;
  width: 325px;
  -webkit-transform: translate(0, -webkit-calc(-50% - .5px)) translateZ(0) scale(1, 1);
  transform: translate(0, calc(-50% - .5px)) translateZ(0) scale(1, 1); }

.noty_progressbar {
  display: none; }

.noty_has_timeout.noty_has_progressbar .noty_progressbar {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background-color: #646464;
  opacity: 0.2;
  filter: alpha(opacity=10); }

.noty_bar {
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(0, 0) translateZ(0) scale(1, 1);
  -ms-transform: translate(0, 0) scale(1, 1);
  transform: translate(0, 0) scale(1, 1);
  -webkit-font-smoothing: subpixel-antialiased;
  overflow: hidden; }

.noty_effects_open {
  opacity: 0;
  -webkit-transform: translate(50%);
  -ms-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.noty_effects_close {
  -webkit-animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.noty_fix_effects_height {
  -webkit-animation: noty_anim_height 75ms ease-out;
  animation: noty_anim_height 75ms ease-out; }

.noty_close_with_click {
  cursor: pointer; }

.noty_close_button {
  position: absolute;
  top: 2px;
  right: 2px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  cursor: pointer;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out; }

.noty_close_button:hover {
  background-color: rgba(0, 0, 0, 0.1); }

.noty_modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 10000;
  opacity: .3;
  left: 0;
  top: 0; }

.noty_modal.noty_modal_open {
  opacity: 0;
  -webkit-animation: noty_modal_in .3s ease-out;
  animation: noty_modal_in .3s ease-out; }

.noty_modal.noty_modal_close {
  -webkit-animation: noty_modal_out .3s ease-out;
  animation: noty_modal_out .3s ease-out;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes noty_modal_in {
  100% {
    opacity: .3; } }

@keyframes noty_modal_in {
  100% {
    opacity: .3; } }

@-webkit-keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@keyframes noty_modal_out {
  100% {
    opacity: 0; } }

@-webkit-keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@keyframes noty_anim_in {
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
    opacity: 1; } }

@-webkit-keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0; } }

@keyframes noty_anim_out {
  100% {
    -webkit-transform: translate(50%);
    transform: translate(50%);
    opacity: 0; } }

@-webkit-keyframes noty_anim_height {
  100% {
    height: 0; } }

@keyframes noty_anim_height {
  100% {
    height: 0; } }

.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative; }

.noty_theme__mint.noty_bar .noty_body {
  padding: 10px;
  font-size: 14px; }

.noty_theme__mint.noty_bar .noty_buttons {
  padding: 10px; }

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  color: #2F2F2F; }

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42;
  border-bottom: 1px solid #E89F3C;
  color: #fff; }

.noty_theme__mint.noty_type__error {
  background-color: #DE636F;
  border-bottom: 1px solid #CA5A65;
  color: #fff; }

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #7F7EFF;
  border-bottom: 1px solid #7473E8;
  color: #fff; }

.noty_theme__mint.noty_type__success {
  background-color: #AFC765;
  border-bottom: 1px solid #A0B55C;
  color: #fff; }


/*# sourceMappingURL=main.css.map*/